<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Consultancy</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="css/style2.css">

</head>
<body>
 
    <div class="logo-container">
    <img src="https://www.dropbox.com/scl/fi/chv3emo6dajl71r7gewam/logo-black-removebg-preview.png?rlkey=1igm16ajvh92bmpyue3iq5xuz&st=bge0mpg0&raw=1" alt="Logo" class="logo-image">
  </div>
    <!--about section start -->
    <div class="services_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="services_taital">Finding it difficult to manage your site?</h1>
            <p class="services_text">
Unlock the full potential of your online presence with our expert web consultancy services at Sitezen. Our seasoned consultants work closely with you to understand your business goals and provide strategic guidance tailored to your needs. From optimizing your website's design and functionality to enhancing your digital marketing strategy, we offer insights and recommendations that drive results. Whether you're looking to revamp your existing site or launch a new one, our consultancy services ensure that you make informed decisions that align with your objectives. Partner with us to navigate the digital landscape with confidence and achieve your business aspirations.
</p>
          </div>
          <div class="col-md-4">
            <div><img src="https://www.dropbox.com/scl/fi/gleqyr6ct3j6mpqrbyblc/strategic-consulting-concept-illustration_114360-8994.png?rlkey=ccgacff8g2yla8xyuvethdk4i&st=9h63qty8&raw=1" class="image_1"></div>
          </div>
        </div>
      </div>
    </div>
    <!--about section end -->
    <!--footer section start -->
    <div class="footer_section layout_padding margin_top_90">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <h4 class="about_text">Contact Us</h4>
            <div class="location_text"><img src="https://www.dropbox.com/scl/fi/69nfi04twnevhcco10v7u/call-icon.png?rlkey=6m5fvztih6cusrvfipxxa0xpe&st=kz0wuime&raw=1"><span class="padding_left_15">+91 6362169493</span></div>
            <div class="location_text"><img src="https://www.dropbox.com/scl/fi/g1imr0x7t16wa09b1at3g/mail-icon.png?rlkey=4tx37sdg1ypc86uehz5ac6mjv&st=115phxrh&raw=1"><span class="padding_left_15">sitezennco@gmail.com</span></div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h4 class="about_text">Sign up With Us</h4>
            <p class="dolor_text">Contact Us Either By Call, Mail Or Text To Start Working With Us</p>
          </div>

        </div>
        <!-- copyright section start -->
        <div class="copyright_section">
          <div class="copyright_text"><a href="https://html.design">Thank You</a></div>
        </div>
        <!-- copyright section end -->
      </div>
    </div>
    <!--footer section end -->
 
</body>
</html>